*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-panel {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}

.right-panel {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.left-panel h2,
.right-panel h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f0f0f0;
}

.selected-post {
  background-color: #e6f7ff !important;
}

/* Style for the selected post */

.right-panel h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.right-panel p {
  margin-bottom: 20px;
}



